{% extends 'index.html' %}
{% block content %}
          <div id="layoutSidenav_content">
                <main>
                    <a href="{% url 'calltouch:test' %}">test</a>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Tables</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                CallTouch
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th scope="col">call_id</th>
                                            <th scope="col">source</th>
                                            <th scope="col">utm_source</th>
                                            <th scope="col">utm_campaign</th>
                                            <th scope="col">google_client_id</th>
                                            <th scope="col">yandex_client_id</th>
                                            <th scope="col">user_agent</th>
                                            <th scope="col">date</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                          <th scope="col">call_id</th>
                                            <th scope="col">source</th>
                                            <th scope="col">utm_source</th>
                                            <th scope="col">utm_campaign</th>
                                            <th scope="col">google_client_id</th>
                                            <th scope="col">yandex_client_id</th>
                                            <th scope="col">user_agent</th>
                                            <th scope="col">date</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for line in  context %}
                                        <tr>
                                          <td>{{ line.call_id }}</td>
                                            <td>{{ line.source }}</td>
                                            <td>{{ line.utm_source }}</td>
                                            <td>{{ line.utm_campaign }}</td>
                                            <td>{{ line.google_client_id }}</td>
                                            <td>{{ line.yandex_client_id }}</td>
                                            <td>{{ line.user_agent }}</td>
                                            <td>{{ line.date }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Ditexos.ru 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
{% endblock %}