<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">СКВОЗНАЯ АНАЛИТИКА</div>
                <a class="nav-link" href="{% url 'dashboard:report_clients_view' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Интеграция</div>
                <a class="nav-link" href="{% url 'yandex_direct:allow_access' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Yandex Direct
                </a>
                <a class="nav-link" href="{% url 'google_ads:allow_access' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Google Ads
                </a>
                <a class="nav-link" href="{% url 'vk:allow' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    VK
                </a>
                <a class="nav-link" href="{% url 'my_target:agency' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    MY-TARGET
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            {{ request.user }}
        </div>
    </nav>
</div>