{% extends 'index.html' %}
{% block content %}
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <div class="row mt-4">
          <div class="col-md-12">
            <h3 class="text-center">{{ context.name }}</h3>
          </div>
        </div>
        <div class="row mt-2 mb-4">
          <div class="col-md-2">
            <button type="submit" class="btn btn-success" id="btn-export-excel">
              EXPORT EXCEL
            </button>
          </div>
          <div class="col-md-2 offset-md-8">
            <form method="get">
              <input type="text" name="daterange" value="{{ start_date }} - {{ end_date }}"/>
            </form>
          </div>
        </div>
        {% if report_types.is_common %}
          {% include 'dashboard/includes/reports/common_comagic.html' %}
        {% endif %}

        {% if report_types.is_channel %}
          {% include 'dashboard/includes/reports/channel_comagic.html' %}
        {% endif %}

        {% if report_types.is_campaign %}
          {% include 'dashbloard/includes/reports/campaign_comagic.html' %}
        {% endif %}

        {% if report_types.is_direction %}
          {% include 'dashboard/includes/reports/direction_comagic.html' %}
        {% endif %}

        {% if report_types.is_comagic_other %}
          {% include 'dashboard/includes/reports/other_comagic.html' %}
        {% endif %}

        {% if report_types.is_period %}
          {% include 'dashboard/includes/reports/period_comagic.html' %}
        {% endif %}

        {% if report_types.is_brand_nvm %}
          {% include 'dashboard/includes/reports/brand_nvm.html' %}
        {% endif %}
        {% if report_types.is_target_nvm %}
          {% include 'dashboard/includes/reports/target_nvm.html' %}
        {% endif %}
        {% if report_types.is_smm_nvm %}
          {% include 'dashboard/includes/reports/smm_nvm.html' %}
        {% endif %}
        {% if report_types.is_week_nvm %}
          {% include 'dashboard/includes/reports/week_nvm.html' %}
        {% endif %}
        {% if report_types.is_month_nvm %}
          {% include 'dashboard/includes/reports/month_nvm.html' %}
        {% endif %}
        {% if report_types.is_not_set_week %}
          {% include 'dashboard/includes/reports/not_set_report.html ' %}
        {% endif %}
        {% if report_types.is_campaign_nvm %}
          {% include 'dashboard/includes/reports/campaign_nvm.html' %}
        {% endif %}
      </div>
    </main>
    {% include 'footer.html' %}
  </div>
{% endblock %}

{% block script %}
  {% include 'dashboard/includes/date_picker.html' %}
  {% include 'dashboard/includes/excel_export.html' %}
  {% if report_types.is_period %}
    {% include 'dashboard/includes/period_date_picker.html' %}
  {% endif %}
{% endblock %}