{% extends 'index.html' %}
{% load static %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div class="row mt-4">
                <div class="col-md-12">
                    <h3 class="text-center">Клиенты агентства</h3>
                </div>
            </div>
            {% if clients %}
            <div class="card mt-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                   Список клиентов
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="datatable" >
                                <thead>
                                    <tr>
                                        <th>Client</th>
                                        <th>Google cost</th>
                                        <th>Yandex cost</th>
                                        <th>Leads</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for client in clients %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'dashboard:client_detail_report_view' client_id=client.pk %}"
                                               class="text-decoration-none text-body">{{ client.name }}</a>
                                        </td>
                                        <td>{{ client.google_cost }}</td>
                                        <td>{{ client.yandex_cost }}</td>
                                        <td>{{ client.leads }}</td>
                                        <td class="d-flex justify-content-center">
                                            <a class="btn btn-outline-danger" href="{% url 'dashboard:client_delete' pk=client.pk %}">
                                                <img src="{% static 'images/svg/trash.svg' %}">
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="card text-center mt-4">
                  <div class="card-header">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">У вас еще не создано не одного клиента</h5>
                    <p class="card-text">Чтобы создать клиента для сквозной аналитики перейдите по ссылке</p>
                    <a href="{% url 'dashboard:add_client' %}" class="btn btn-primary">Перейти</a>
                  </div>
                  <div class="card-footer text-muted">
                  </div>
                </div>
            {% endif %}
        </div>
    </main>
</div>

{% endblock %}