{% extends 'index.html' %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div class="row mt-4">
                <div class="col-md-12">
                    <h3 class="text-center">brand_search</h3>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Статистика по ключам
                </div>
                <div class="card-body">
                        <table class="datatable">
                                <thead>
                                    <tr>
                                        <th>KeyWord</th>
                                        <th>Cost</th>
                                        <th>Impressions</th>
                                        <th>Clicks</th>
                                        <th>CTR</th>
                                        <th>CPC</th>
                                        <th>CR</th>
                                        <th>CPL</th>
                                        <th>Call</th>
                                        <th>Chat</th>
                                        <th>Site</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>KeyWord</th>
                                        <th>Cost</th>
                                        <th>Impressions</th>
                                        <th>Clicks</th>
                                        <th>CTR</th>
                                        <th>CPC</th>
                                        <th>CR</th>
                                        <th>CPL</th>
                                        <th>Call</th>
                                        <th>Chat</th>
                                        <th>Site</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td>hjfasdgf+ dsfsdf+ sddf</td>
                                        <td>0</td>
                                         <td>0</td>
                                         <td>2</td>
                                         <td>0</td>
                                         <td>0</td>
                                         <td>0</td>
                                         <td>0</td>
                                         <td>0</td>
                                         <td>0</td>
                                         <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>weqrweqr + dsfsdf</td>
                                        <td>0</td>
                                         <td>0</td>
                                         <td>7</td>
                                         <td>0</td>
                                         <td>0</td>
                                         <td>0</td>
                                         <td>0</td>
                                         <td>0</td>
                                         <td>0</td>
                                         <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>weqrqwerq + gfdsg</td>
                                        <td>0</td>
                                         <td>0</td>
                                         <td>0</td>
                                         <td>0</td>
                                         <td>3</td>
                                         <td>0</td>
                                         <td>0</td>
                                         <td>0</td>
                                         <td>0</td>
                                         <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}