{% extends 'index.html' %}
{% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Graph</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Graph</li>
                        </ol>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Ключевые слова
                            </div>
                            <div class="card-body">
                                <table class="datatable">
                                    <thead>
                                        <tr>
                                            <th>CampaignName</th>
                                            <th>AdGroupName</th>
                                            <th>KeyWords</th>
                                            <th>clicks</th>
                                            <th>cost</th>
                                            <th>count</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>CampaignName</th>
                                            <th>AdGroupName</th>
                                            <th>KeyWords</th>
                                            <th>clicks</th>
                                            <th>cost</th>
                                            <th>count</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for line in key_words %}
                                        <tr>
                                            <td>{{ line.ad_group.campaign.name }}</td>
                                            <td>{{ line.ad_group.name }}</td>
                                            <td>{{ line.name }}</td>
                                            <td>{{ line.clicks }}</td>
                                            <td>{{ line.cost }}</td>
                                            <td>{{ line.count }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Кампании
                            </div>
                            <div class="card-body">
                                <table class="datatable">
                                    <thead>
                                        <tr>
                                            <th>CampaignName</th>
                                            <th>clicks</th>
                                            <th>cost</th>
                                            <th>count</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>CampaignName</th>
                                            <th>clicks</th>
                                            <th>cost</th>
                                            <th>count</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for line in campaigns %}
                                        <tr>
                                            <td>{{ line.name }}</td>
                                            <td>{{ line.clicks }}</td>
                                            <td>{{ line.cost }}</td>
                                            <td>{{ line.count }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </main>
                {% include 'footer.html' %}
            </div>

{% endblock %}
